/* bottom copy */
.copy-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  font-size: 12px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.copy-button:hover {
  background: #555;
}

/* nav */
.md-tabs__list {
  display: flex;
  justify-content: space-evenly;
}

[data-md-color-primary=black] .md-header {
  background-color: #596346;
}

[data-md-color-primary=black] .md-tabs {
  background-color: #1a2d5d;
}
